.grid {
  display: grid;
}

.slider {
  display: block;
}
.slider__inner {
  background: #fff;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.slider__item {
  scroll-snap-align: start;
}
.slider__arrow {
  position: absolute;
  left: 0;
  cursor: pointer;
  z-index: 2;
  background: #fff;
  width: var(--slider-arrow-size-lg);
  height: var(--slider-arrow-size-lg);
}
.slider__arrow--forward {
  right: 0;
  left: auto;
}
.slider__arrow--forward img {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 767px) {
  .grid.sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.slider-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .slider__arrows.sm--hidden {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1180px) {
  .grid.md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.slider-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .slider.md-arrows--hidden .slider__arrow {
    display: none;
  }
}
@media screen and (min-width: 1181px) {
  .grid.lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.slider-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .slider.lg-arrows--over .slider__arrow, .slider.lg-arrows--sides .slider__arrow {
    top: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  .slider.lg-arrows--over .slider__arrow {
    left: 15px;
  }
  .slider.lg-arrows--over .slider__arrow--forward {
    left: auto;
    right: 15px;
  }
  .slider.lg-arrows--sides {
    padding-left: calc(var(--slider-arrow-size-lg) + 15px);
    padding-right: calc(var(--slider-arrow-size-lg) + 15px);
  }
  .slider.lg-arrows--under {
    padding-bottom: calc(var(--slider-arrow-size-lg) + 15px);
  }
  .slider.lg-arrows--under .slider__arrow {
    bottom: 0;
  }
  .slider.lg-arrows--hidden .slider__arrow {
    display: none;
  }
}