.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    align-items: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: 1rem;
}