.grid {
    display: grid;
}

.slider {
    &__inner {
        position: relative;
        z-index: 1;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }

    &__item {
        scroll-snap-align: start;  
    }

    &__arrow {
        position: absolute;
        left: 0;
        cursor: pointer;
        z-index: 2;

        background: #fff;
        width: var(--slider-arrow-size-lg);
        height: var(--slider-arrow-size-lg);
        
        &--forward {
            right: 0;
            left: auto;
            
            img {
                transform: rotate(180deg);
            }
        }
    }
}


.slider-component {
    display: block;
}

@media screen and (max-width: 767px) {
    .grid {
        &.sm-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.sm-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.sm-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.sm-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.sm-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.sm-7 {
            grid-template-columns: repeat(7, 1fr);
        }
        &.sm-8 {
            grid-template-columns: repeat(8, 1fr);
        }
        &.sm-9 {
            grid-template-columns: repeat(9, 1fr);
        }
        &.sm-10 {
            grid-template-columns: repeat(10, 1fr);
        }

        &.slider-mobile {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    .slider {
        &__arrows {
            &.sm--under {

            }

            &.sm--over {

            }

            &.sm--sides {

            }

            &.sm--hidden {
                display: none;
            }
        }

        &__arrow {

        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .grid {
        &.md-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.md-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.md-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.md-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.md-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.md-7 {
            grid-template-columns: repeat(7, 1fr);
        }
        &.md-8 {
            grid-template-columns: repeat(8, 1fr);
        }
        &.md-9 {
            grid-template-columns: repeat(9, 1fr);
        }
        &.md-10 {
            grid-template-columns: repeat(10, 1fr);
        }

        &.slider-tablet {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }

    .slider {
        &.md-arrows--over,
        &.md-arrows--sides {
            
        }

        &.md-arrows--sides {

        }
        &.md-arrows--hidden {
            .slider__arrow {
                display: none;
            }
        }
    }
}


@media screen and (min-width: 1181px) {
    .grid {
        &.lg-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.lg-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.lg-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.lg-5 {
            grid-template-columns: repeat(5, 1fr);
        }
        &.lg-6 {
            grid-template-columns: repeat(6, 1fr);
        }
        &.lg-7 {
            grid-template-columns: repeat(7, 1fr);
        }
        &.lg-8 {
            grid-template-columns: repeat(8, 1fr);
        }
        &.lg-9 {
            grid-template-columns: repeat(9, 1fr);
        }
        &.lg-10 {
            grid-template-columns: repeat(10, 1fr);
        }

        &.slider-desktop {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
        }
    }


    .slider {
        &.lg-arrows--over,
        &.lg-arrows--sides {
            
        }

        &.lg-arrows--sides {

        }
        &.lg-arrows--hidden {
            .slider__arrow {
                display: none;
            }
        }
    }
}

