.about-banner {
    padding-top: 30px;
    padding-bottom: 0;
}

.about-text {
    .star {
        width: 11px;
        margin: 15px auto;
    }

    strong {
        font-size: 18px;
        line-height: 1.33;
    }
}

.about-cols {
    padding-top: 10px;

    .cont {
        gap: 50px;
        max-width: 1080px;
    }
    &__text-icon {
        width: 360px;
        min-width: 360px;
        
        .star {
            width: 120px;
            position: absolute;
            top: 0;
            transform: translate(20%, -70%);
            right: 0;
        }
    }
}

.about-cols-2 {
    padding-bottom: 20px;

    &__text {
        p {
            margin: 25px 0;
        }

        strong{
            font-size: 18px;
            line-height: 1.33; 
        }
    }
    &__text-icon {
        .star {
            position: absolute;
            width: 35px;
            right: 0;
            bottom: 0;
            transform: translate(20%, 20%);
        }
    }
    &__img-icon {
        .star {
            width: 60px;
            position: absolute;
            top: 3px;
            right: -10px;
            transform: translate(100%, 0%);
        }
    }
    &__brand {
        margin-top: 50px;
        width: 145px;
    }
}



@media (max-width: 1023px) {
    .about-cols {
        .cont {
            gap: 25px;
        }
    }

    .about-cols-2 {
        &__text {
            p {
                margin: 16px 0;
            }
        }

        &__text-icon {
            .star {
                transform: translate(35%, 25%);
            }
        }

        &__img-icon {
            .star {
                display: none;
            }
        }
        &__brand {
            margin-top: 20px;
        }
    
    }
}

@media (max-width: 767px) {
    .about-banner {
        
    }
    
    .about-text {
        font-size: 12px;

        strong {
            font-size: 14px;
        }
    }

    .about-cols {

        .cont {
            gap: 35px;
        }

        &__text-icon {
            min-width: auto;
            width: 100%;
            max-width: 300px;
            
            .star {
                width: 60px;
                transform: translate(20%, -60%);
            }
        }
    }
    
    .about-cols-2 {
        font-size: 12px;
        
        &__text {
            max-width: 300px;

            strong{
                font-size: 14px;
            }
        }

        &__text-icon {
            .star {
                width: 20px;
                transform: translate(20%, 20%);
            }
        }

        &__brand {
            margin: 35px auto 0;
        }
    }
}