.c-cart {
    text-align: center;
    padding-top: 25px;

    &-empty {

        &__hide {
            display: inline-block;
            &.flex {
                display: flex;
            }
        }
        &__content {
            display: none;
            text-align: center;

            h3 {
                margin-top: 35px;
                margin-bottom: 20px;
            }
        }

        .c-cart-empty__hide {
            display: none;
        }
        .c-cart-empty__content {
            display: block;
        }
    }
    .heading {
        margin-bottom: 50px;
    }

    &__flex {
        gap: 70px;
    }
    &__items {
        flex-grow: 1;

        table, tbody {
            width: 100%;
            display: block;
        }
    }
    &__summary {
        min-width: 320px;
        max-width: 320px;
        margin-bottom: 30px;

        &-wrap {
            background: $grey;
            padding: 30px 35px;
            text-align: center;
        }

        h2 {
            font-size: 30px;
            display: inline-block;
        }
        .btn {
            width: 100%;
            margin: 25px 0 12px;
        }

    }

    &__total-price {
        color: $accent;
        font-size: 15px;
        font-weight: 700;
        margin: 20px 0 10px;
        text-transform: uppercase;
    }

    &__payments {
        margin-top: 12px;
        flex-wrap: wrap;
        gap: 6px;
        filter: grayscale(1);
        opacity: 0.7;

        svg {
            width: 32px;
        }
    }
    &__links {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;

        a {
            text-decoration: underline;
        }
    }

    &-item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &-wrap {
            padding-bottom: 60px;
            margin-bottom: 60px;
            position: relative;

            &::after {
                content: "";
                width: 100%;
                display: block;
                position: absolute;
                bottom: -5px;
                left: 0;
                height: 10px;
                background-image: radial-gradient(#000 10%,transparent 12%);
                background-position: 41% 100%;
                background-size: 10px 10px;
            }

            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
    
                &::after {
                    display: none;
                }
            }
        }
        
    }

    &__data {
        display: flex;
        align-items: center;
        gap: 20px;
        text-align: left;
        

        &-wrap {
            flex-grow: 1;
            max-width: 450px;
        }
    }
    &__image {
        width: 160px;
        min-width: 160px;
    }
    &__details {
        h2 {
            font-size: 30px;
            margin: 10px 0 3px;
        }
        &-unit {
            gap: 6px;
            font-size: 12px;
            margin-top: 3px;
        }
    }

    &__qty {
        border: 1px solid #ddd;
        border-radius: 30px;
        svg {
            width: 15px;
        }
        input {
            font-size: 16px;
            font-weight: 700;
        }
        path {
            fill: $accent;
        }
    }

    &__total {
        color: $accent;
        font-size: 16px;
        font-weight: 700;
    }

    &__remove {
        width: 30px;
        padding: 0 5px;
        display: block;
    }
    .additional-checkout-buttons {
        margin-bottom: 16px;

        ul {
            justify-content: space-between !important;
            margin: 0 !important;
            flex-wrap: nowrap !important;
            gap: 12px;
        }
        li {
            margin: 0 !important;
            flex-basis: 50% !important;
        }
    }
}


@media (max-width: 1023px) {
    .c-cart__summary {
        max-width: 400px;
        margin: 0 auto 30px;
    }
}

@media (max-width: 767px) {
    .c-cart {
        padding-top: 25px;
    
        // &-empty {
    
        //     &__hide {
        //         display: inline-block;
        //         &.flex {
        //             display: flex;
        //         }
        //     }
        //     &__content {
        //         display: none;
        //         text-align: center;
    
        //         h3 {
        //             margin-top: 35px;
        //             margin-bottom: 20px;
        //         }
        //     }
    
        //     .c-cart-empty__hide {
        //         display: none;
        //     }
        //     .c-cart-empty__content {
        //         display: block;
        //     }
        // }
        .heading {
            margin-bottom: 30px;
        }
    
        &__flex {
            gap: 50px;
        } 

        &__summary {
            min-width: auto;
            width: 100%;
            max-width: none;
    
            // &-wrap {
            //     background: $grey;
            //     padding: 30px 35px;
            //     text-align: center;
            // }
    
            // h2 {
            //     font-size: 30px;
            //     display: inline-block;
            // }
            // .btn {
            //     width: 100%;
            //     margin: 25px 0 12px;
            // }
        }


    
        // &__total-price {
        //     color: $accent;
        //     font-size: 15px;
        //     font-weight: 700;
        //     margin: 20px 0 10px;
        //     text-transform: uppercase;
        // }
    
        // &__payments {
        //     margin-top: 12px;
        //     flex-wrap: wrap;
        //     gap: 6px;
        //     filter: grayscale(1);
        //     opacity: 0.7;
    
        //     svg {
        //         width: 32px;
        //     }
        // }
        // &__links {
        //     margin-top: 25px;
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        //     gap: 6px;
    
        //     a {
        //         text-decoration: underline;
        //     }
        // }
    
        &-item {
            position: relative;
            flex-wrap: wrap;
            gap: 12px;
            
            &-wrap {
                padding-bottom: 25px;
                margin-bottom: 25px;
            }
        }
    
        &__data {
            padding-right: 30px;
            gap: 12px;
            align-items: flex-start;
        }
        &__image {
            width: 110px;
            min-width: 110px;
        }
        &__details {
            h2 {
                font-size: 22px;
                margin: 5px 0 3px;
            }
            span {
                font-size: 11px;
            }
            &-unit {
            //     gap: 6px;
            // font-size: 10px;
            //     margin-top: 3px;
            }
        }
    
        &__qty {
            margin-left: 122px;
            width: auto;
        //     border: 1px solid #ddd;
        //     border-radius: 30px;
        //     svg {
        //         width: 15px;
        //     }
        //     input {
        //         font-size: 16px;
        //         font-weight: 700;
        //     }
        //     path {
        //         fill: $accent;
        //     }
            button, input {
                max-width: 35px;
            }
        }

        &__total {
            font-size: 15px;
        }
    
        &__remove {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}