@media (max-width: 1440px) {

}

@media (max-width: 1199px) {
    .desk-hide {
        display: none !important;
    }
}

@media (max-width: 1023px) {
    .tablet-show {
        display: block !important;
        &.flex {
            display: flex !important;
        }
    }
    .tablet-hide {
        display: none;
    }
    
    .tab {
        &__content {
            &.tablet-tab {
                height: 0;
                opacity: 0;
                pointer-events: none;
                transform: scaleY(.2);
            }
        }
    }

    .tablet-col {
        flex-direction: column;   

        > * {
            width: 100%;
        }
    }
        

    h1,h2 {
        font-size: 35px;
    }
    h3 {
        font-size: 20px;
    }
    section {
        padding: 40px 20px;
    }
    .heading {
        margin-bottom: 15px;
    }
    text {
        &-hand-lg {
            font-size: 17px;
        }
    }

    
    // .tabs {
    //     &-content {
    //         > div {
    //             position: relative;
    //             opacity: 1;
    //             pointer-events: auto;
    //        }
    //     }
    // }
}

@media (max-width: 767px) {
    .mob-show {
        display: block !important;
        &.flex {
            display: flex !important;
        }
    }
    .mob-col {
        flex-direction: column;   

        .flex__half {
            width: 100%;
        }
        &.col-alt {
            flex-direction: column-reverse;   
        }
    }

    .mob-hide {
        display: none !important;
    }

    section {
        padding: 40px 15px;
    }

    h1,h2 {
        font-size: 25px;
    }
    h3 {
        // font-size: 25px;
    }
    h4 {
        font-size: 16px;
    }
    h5 {
        // font-size: 14px;
    }
    .regular {
        h2 {
            font-size: 30px;
        }
    }
    .espace-page {
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 25px;
        }
    }
    .espace {
        &-ankor {
            iframe {
                margin-top: -35px;
            }
        }   
    }
    .text {
        &-hand-lg {
            font-size: 15px;
        }
    }

    .cart-popup {
        padding: 40px 20px;

        .popup-close-btn {
            top: 10px;
            right: 10px;
        }
        h3 {
            font-size: 20px;
        }
        .btn {
            min-width: 240px;
        }
    
        &__prod {
            gap: 12px;
    
            picture {
                max-width: 90px;
            }
        }   
        &__cart {
            padding: 20px;
            min-width: auto;
            width: 100%;
    
            b {
                // color: $accent;
            }
    
            &-title {
               .star {
                    width: 13px;
               }
            }
    
            &-star {
                display: none;
            }
        }
        &__price {
            font-size: 16px;
        }
    
        &__main {
            flex-direction: column;
            margin-bottom: 30px;
        }
        > .flex:last-child {
            flex-direction: column-reverse;
            align-items: center;
            gap: 15px;
        }
    }
}
