.prods {
    padding-top: 30px;

    &__hand {
        display: inline-block;
        .star {
            position: absolute;
            width: 30px;
            right: -40px;
            top: -10px;
        }
    }
    &__banner {
        margin-top: 30px;
        margin-bottom: 20px;

        img {
            aspect-ratio: 96 / 35;
        }
    }
    &__grid {
        margin-bottom: 30px;

        &-last {
            background: $grey;
            align-self: flex-start;

            &-content {
                width: 100%;
            }
            &::after {
                content: '';
                display: block;
                width: 100%;
                padding-bottom: 100%;
            }
            a.abs-full {
                z-index: 2;
            }
            p {
                font-size: 18px;
            }
            h2 {
                color: $accent;
                margin: 8px 0;
            }
            &-icon {
                width: 164px;
                margin: 0 auto;
            }
        }
    }
    &__short {
        max-width: 600px;
        margin: 0 auto 35px;
    }
    &__text {
        max-width: 1080px;
        margin: 0 auto;
        h3, h4 {
            margin-bottom: 10px;
        }
        h4 {

        }
        p {
            margin-bottom: 10px;
        }
    }
    &__promo {
        margin-top: 60px;

        &-text {
            right: 100px;
            top: 50%;
            transform: translate3d(0, -50%, 0);
           
            h2 {
                line-height: 1;
                font-size: 35px;
                margin-bottom: 10px;
            }
        }
    }

    &__child {
        margin: 40px 0;
        gap: 30px;

        picture {
            position: relative;
            display: block;
            padding-bottom: 90%;
        }
        &-img {
            max-height: 600px;
            object-fit: cover;
        }

        &-text {
            top: 20px;
            right: 20px;
            max-width: 200px;
            padding: 15px 10px;
            h2 {
                font-size: 36px;
            }
            p {
                font-size: 13px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .prods {
        &__child {
            &-text {
                position: relative;
                right: 0;
                top: 0;
                left: 0;
                -webkit-transform: none;
                -ms-transform: none;
                transform: none;
                max-width: 280px;
                margin: -40px auto 0;
            }
        }
    }
}

@media (max-width: 1023px) {
    .prods {
        &__grid.grid {
            grid-template-columns: repeat(2,1fr);
            gap: 12px;
        }
        &__text {
            h3 {
                font-size: 16px;
            }
        }
        &__promo {
            &-text {
                right: 60px;
            }
        }

        &__child {
            gap: 10px;
        }
    }
}

@media (max-width: 767px) {
    .overlay-text {
        position: relative;
        right: 0;
        top: 0;
        left: 0;
        transform: none;
        max-width: 280px;
        margin: -40px auto 0;
        h2 {
            font-size: 25px;
        }
    }   

    .prods {
        padding-bottom: 0;

        &__hand {
            display: block;
            .star {
                right: 0;
                top: -23px;
            }
        }
        &__banner {
            margin-bottom: 35px;
        }
        &__grid {

            &.grid {
                gap: 10px;
            }

            &-last {
                p {
                    font-size: 14px;
                }
                h2 {
                    margin: 4px 0;
                }
                &-icon {
                    width: 80px;
                }
            }
        }
        &__promo {
            margin-top: 35px;

            img {
                height: 280px;
                object-fit: cover;
            }
        }

        &__child {
            margin: 20px 0;
            display: block;
    
            >div {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}