.prod-tabs {
    overflow: hidden;

    &__triggers {
        margin-bottom: 50px;
        gap: 55px;

        b {
            padding: 9px 0;
            font-weight: 700;
            cursor: pointer;
            text-transform: uppercase;
            border-bottom: 2px solid #fff;
            transition: color .25s, border-color .25s;

            &.active, &:hover {
                border-color: $accent;
                color: $accent;
            }
        }
    }

    &__descr {
        // margin-bottom: -35px;

        blockquote {
            font-size: 18px;
            font-family: 'x';
            margin-bottom: 40px;
            text-align: center;
        }
        h2 {
            font-size: 20px;
            color: #3284E5;
            font-family: 'mulish';
            margin-bottom: 12px;
            font-weight: 700;
        }
        a {
            text-decoration: underline;
        }
        table {
            display: block;
            max-width: 100%;
            width: 100%;
        }
        tr {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;
            margin-top: 35px;

            &:nth-child(2n) {
                flex-direction: row-reverse;
            }

            &:first-child {
                margin-top: 0;
            }

            &:empty {
                display: none;
            }
        }
        
        td {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-grow: 1;

            &:nth-child(2) {
                width: 210px;
                min-width: 210px;
                height: 210px;

                img {
                    border-radius: 50%;
                    overflow: hidden;
                    border: 1px solid $grey;
                }
            }
        }
    }
    .tab__content-wrap {
        padding: 0;
    }

    &__text {
        p:empty {
            margin: 0;
        }
    }

    &__chars {
        p {
            display: flex;
            gap: 15px;
        }
        b {
            min-width: 160px;
            width: 160px;
        }
    }

    &__grid {
        gap: 20px;
    }

    &__title {
        font-size: 14px;
        padding: 14px 0;
    }
}

.prod-rel {
    background: $grey;
    // margin-bottom: 80px;
    padding-bottom: 0;
    overflow: hidden;
}

.prod-brand {
    background: $grey;
    padding-top: 80px;
    padding-bottom: 80px;

    .cont {
        gap: 40px;
    }
    &__img {
        width: 190px;
        min-width: 190px;
    }
    &__text {
        h4 {
            display: inline-block;
            font-size: 18px;
            margin-bottom: 8px;
            .star {
                position: absolute;
                width: 25px;
                top: 0px;
                right: -35px;
            }
        }
        &-content {
            display: block;
            width: 100%;
        }
    }
}

@media (max-width: 1023px) {
    .prod-tabs {
        &__triggers {
            display: none;
        }

        &__content {
           > div {
                position: relative;
                opacity: 1;
                pointer-events: auto;
           }
        }
        &__descr {
            // margin-bottom: -25px;
            font-size: 12px;

            h3 {
                font-size: 16px;
                margin-bottom: 25px;
            }
            h4 {
                font-size: 18px;
            }

            tr {
                gap: 12px;
                margin-top: 25px;
            }
            td {
                &:nth-child(2) {
                    width: 180px;
                    min-width: 180px;
                    height: 180px;
    
                    img {
                        height: 180px;
                        width: 180px;
                    }
                }
            }
        }
        &__text {
            font-size: 14px;
        }

        .tab__content-wrap {
            padding: 20px 0 30px;
        }
        .tab {
            border-bottom: 1px solid $grey;
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .sticker {
        &__tabs {
            &-content {

            }
        }
    }

    .prod-brand {
        .cont {
            gap: 20px;
        }
    }
    
}

.prod-main {
    padding-top: 30px;
    padding-bottom: 0;

    &__flex {
        gap: 40px;
    }
    &__img {
        &-wrap {
            display: block;
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            
            img {
                object-fit: contain;
                cursor: pointer;
            }

            iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }
        &-item {
            opacity: 0;
            pointer-events: none;
            transition: opacity .3s;
            
            &.active {
                pointer-events: auto;
                opacity: 1;
            }
        }
    }
    &__thumbs {
        position: absolute;
        top: 20px;
        left: 30px;
        display: block;
        
        picture {
            display: block;
            margin: 10px 0;
            border: 2px solid #E8E8E8;
            border-radius: 50%;
            overflow: hidden;
            transition: border-color .3s;
            
            &.active {
                border-color: $accent;
            }
        }
        img {
            cursor: pointer;
            width: 90px;
            height: 90px;
            object-fit: contain;
        }
    }
    .glide__arrows {
        display: none;
    }

    &__data {
        max-width: 490px;
        width: 100%;
    }

    &__cat {
        text-transform: uppercase;
        gap: 5px;
        font-size: 12px;
        margin-bottom: 3px;
        
        span:last-child {
            color: $dark_grey;
        }
    }

    &__title {
        margin-bottom: 10px;
        h1 {
            font-size: 40px;
        }
    }

    &__more {
        color: $accent;
        font-weight: 700;
        gap: 3px;

        img {
            width: 10px;
            transform: rotate(-90deg);
            position: relative;
            top: 1px;
        }
    }

    &__price {
        margin: 30px 0;

        &-wrap {
            gap: 15px;
        }
        &-regular {
            font-size: 25px;
            font-weight: 700;
            color: $accent;
        }
        &-compare {
            font-size: 18px;
            text-decoration: line-through;
        }
        &-shipping {
            margin-top: 5px;
        }
    }

    &__qty {
        gap: 15px;

        .quantity {
            border-radius: 50px;
            border: 1px solid #DFDFDF;
        }
        label {
            
        }
    }

    &__btn {
        width: 100%;
        max-width: 330px;
        margin: 20px 0 16px;
        padding: 14px 20px;

        span {
            position: relative;
        }
        .star {
            position: absolute;
            top: 0;
            width: 29px;
            left: -45px;
        }
        .star1 {
            position: absolute;
            top: 0;
            width: 12px;
            right: -25px;
        }

        &-sticker {
            margin-bottom: 0;
        }
        &-price {
            color: $accent;
            right: -12px;
            top: -1px;
            transform: translateX(100%);
            position: absolute;
        }
    }
    &__stock {
        font-size: 13px;
        font-weight: 700;

        &::before {
            content: '';
            width: 6px;
            height: 6px;
            display: inline-block;
            margin-right: 6px;
            position: relative;
            top: -1px;
            border-radius: 50%;
        }
    }
    &__oos {
        color: $accent;
        &::before {
            background: $accent;
        }
    }
    &__instock {
        color: #0BA663;
        &::before {
            background: #0BA663;
        }
    }
}
.prod__icons {
    margin-top: 16px;
    padding: 16px 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.prod__icons.flex {
    align-items: flex-start;
    gap: 12px;
    justify-content: space-between;
}


.prod__icons > * {
    flex-direction: column;
    width: 33%;
}

.prod__icons img {
    height: 35px;
    max-width: 55px;
    object-fit: contain;
    margin-bottom: 5px;
}

.prod__icons .footer-icons__text * {
    font-size: 13px;
    font-weight: 300;
    text-transform: none;
}


.sticker {
    user-select: none;
    padding: 0;
    max-width: 740px;

    &__top {
        padding: 20px 30px 30px;
        background: $grey;
    }

    &__canvas {
        aspect-ratio: 10/4;
        display: block;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        background: #fff;
    }

    
    &__tabs {
        padding: 40px 30px 30px;
        background: $grey;

        &-triggers {
            margin-bottom: 40px;
            gap: 40px;

            div {
                cursor: pointer;
                width: 30%;
                font-weight: 700;
                position: relative;
                border: 1px solid #000;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                padding: 5px 15px;
                line-height: 1.35;
                background: #fff;
                transition: color .2s, border-color .2s;

                @for $i from 1 through 3 {
                    &:nth-child(#{$i})::before {
                        content: '#{$i}';
                    }
                }
                &::before {
                    background: #fff;
                    border: 1px solid #000;
                    border-bottom-color: #fff;
                    padding: 4px 10px 0;
                    border-radius: 50% 50% 0 0;
                    position: absolute;
                    line-height: 14px;
                    transition: color .2s, border-color .2s;
                    top: 0px;
                    left: 50%;
                    transform: translate(-50%, -100%);
                }
                
                &.active {
                    color: $accent;
                    border-color:  $accent;

                    &::before {
                        color: $accent;
                        border-color:  $accent;
                        border-bottom-color: #fff;
                    }
                }
            }
        }
    }

    &__checkbox {
        max-width: 400px;
        margin: 15px auto 0;

        label {
            cursor: pointer;
        }
        input {
            appearance: auto;
            cursor: pointer;
        }
    }

    &__grid {
        gap: 25px;
        max-width: 540px;
        margin: 0 auto;
        
        input {
            position: absolute;
            top: 0;
            left: 0;

            &:checked + .abs-full {
                border-color: $accent;
            }
        }
        .abs-full {
            border: 1px solid transparent;
            transition: border-color .2s;
        }
        >label {
            background: #fff;
            position: relative;
            cursor: pointer;
            padding: 5px;
        }
        img {
            aspect-ratio: 10 / 4;
        }

        &-icons {
            label {
                padding: 6px 0;
            }
            img {
                aspect-ratio: 1/1;
                width: 50px;
                margin: 0 auto;
            }
        }
    }

    &__text {
        >div {
            max-width: 310px;
            width: 50%;
        }
        .input {
            display: block;
            width: 100%;
        }
        p {
            font-size: 12px;
            margin-top: 10px;
            max-width: 200px;
        }
    }

    &__btns {
        margin: 30px 0;

        .btn.opaque {
            opacity: 0;
            pointer-events: none;
        }
    }

    &__note {
        padding-top: 20px;
        border-top: 1px solid #fff;
        text-align: center;

        img {
            width: 18px;
            position: relative;
            top: 2px;
            display: inline-block;
            margin-right: 4px;
        }
    }
}


@media(max-width: 1439px) {
    .prod-main__thumbs {
        top: 12px;
        left: 12px;
    }
    
    .prod-main__thumbs img {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 1199px) {
    .prod-main {
        overflow: hidden;

        &__img {
            width: calc(100% - 490px);
            overflow-x: hidden;

            &-item {
                pointer-events: auto;
                opacity: 1;
            }

            &-wrap {
                padding-bottom: 0;
            }

            img, iframe {
                position: relative;
                height: auto;
            }
        }
        &__thumbs {
            display: none;
        }

        .glide__arrows {
            display: block;
        }

        .glide__arrow {
            position: absolute;
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 40px;
            height: 40px;
            padding: 0 15px;
        }
        .glide__arrow:last-child {
            left: auto;
            right: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }
}

@media(max-width: 1023px) {
    .prod-main {
        &__flex {
            gap: 25px;
            
            > div {
                margin: 0 auto;
                max-width: 490px;
            }
        }
        &__price {
            margin: 10px 0 20px;
        }
    }
}

@media (max-width: 767px) {
    .prod-main__title h1 {
        font-size: 30px;
    }
    .prod__icons.flex {
        justify-content: center;
        flex-wrap: wrap;
    }
    .prod__icons > * {
        width: calc(50% - 6px);
    }

    .prod-tabs {
        &__content {
           > div {
                &.active {
                 
                }
            }
        }
        &__descr {
            font-size: 12px;

            h3 {
                font-size: 14px;
            }
            h4 {
                font-size: 16px;
            }
            tr {
                gap: 16px;
                flex-direction: column-reverse;
                // margin-bottom: 22px;
                &:nth-child(2n) {
                    flex-direction: column-reverse;
                }
            }
            td {
                min-width: 100%;
                width: 100%;
                &:last-child {
                    align-items: center;
                    img {
                        // width: 180px;
                    }
                }
            }
        }
        &__chars {
            font-size: 12px;
            b {
                width: 50%;
            }
        }
    }

    .prod-rel {
        // margin-bottom: 0px;
    }

    .prod-brand {
        padding-top: 50px;
        padding-bottom: 50px;

        .cont {
            flex-direction: column;
        }
        &__img {
            width: 100px;
            min-width: auto;
            align-self: center;
        }
    }

    .sticker {
        &__top {
            padding: 25px 15px 15px;
        }
        
        &__tabs {
            padding: 15px 15px 30px;

            &-title {
                h6 {
                    font-size: 16px;
                    text-transform: uppercase;  
                    margin: 0 0 30px;
                }
            }
        }
    
        &__grid {
            
            &.grid-3 {
                gap: 10px;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    
        &__text {
            gap: 30px;

            >div {
                max-width: none;
                width: 100%;
            }
        }
    
        &__btns {
            gap: 15px;
    
            .btn {
                width: 100%;
            }
            .btn.opaque {
                display: none;
            }
        }
    }
}