* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}

b, strong {
    font-weight: bold;
}

input,
button,
select, 
textarea {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    // font-family: 'Mulish';

    &::placeholder {
        // font-family: 'Mulish';
        color: #000;
        opacity: .5;
    }
    &:focus, &:focus-visible {
        outline: none;
        box-shadow: none;
    }
}

img,svg {
	display: block;
	width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.cont {
	width: 100%;
}

.flex {
	display: flex;
    width: 100%;
    
	&.jcsb {
		justify-content: space-between;
	}
	&.jcc {
		justify-content: center;
	}
	&.jcfe {
		justify-content: flex-end;
	}
	&.aic {
		align-items: center;
	}
	&.aife {
		align-items: flex-end;
	}
	&.aifs {
		align-items: flex-start;
	}
    &.col {
        flex-direction: column;
    }
    &__grow {
        flex-grow: 1;
    }
	&__half {
        width: 50%;
	}
    &.gap-1 {
        gap: 20px;
    }
}

.rel {
	position: relative;
}
.abs-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate3d(-50%, -50%, 0px);
}
.abs-full {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
a.abs-full {
    display: block;
}
img.abs-full {
    object-fit: cover;
}

// .input {
//     display: block;
//     width: 100%;
//     font-size: 14px;
//     border: 1px solid #DFDFDF;
//     border-radius: 20px;
//     padding: 9px 21px;
//     line-height: 1.5;
//     background: #fff;

//     &-select {
//         background: #fff no-repeat url('arr-red.svg') right 20px center / 12px auto;
//     }
// }
// .label {
//     display: block;
//     color: #1F1F1F;
//     text-transform: uppercase;
//     margin-bottom: 10px;
//     font-weight: 700;
// }

// textarea {
//     resize: none;
//     max-height: 175px;
// }

// button {
//     font-weight: 700;
// }

// ::placeholder {
// 	color: #000;
//     opacity: 1;
// }

// ::selection {
// 	// background-color: $accent;
// 	// color: #fff;
// }

// body {
//     min-width: 320px;
//     line-height: 1.57;
//     font-weight: 300;
//     color: #1f1f1f;
//     font-family: 'Mulish';
//     font-size: 14px;
//     letter-spacing: 0;
// }


// header,section,footer {
//     padding-left: 20px;
//     padding-right: 20px;
// }

// section {    
//     padding-top: 60px;
//     padding-bottom: 60px;
// }



// .tab {
// 	&__title {
// 		cursor: pointer;
// 		user-select: none;

//         img {
//             transition: transform .25s;
//         }

// 		&.active {
// 			img {
// 				transform: rotate(180deg);
// 			}

// 			& +.tab__content {
// 				opacity: 1;
// 				transform: scaleY(1);
//                 pointer-events: auto;
// 			}
// 		}
// 	}

// 	&__content {
//         &:not(.tablet-tab) {
//             height: 0;
//             opacity: 0;
//             pointer-events: none;
//             transform: scaleY(.2);
//         }

//         position: relative;
// 		transform-origin: center top;
// 		transition: height .25s, opacity .25s, transform .25s;

//         &-wrap {
//             padding: 0 0 16px;
//         }
//         p {
//             margin-bottom: 10px;
//             &:last-child {
//                 margin-bottom: 0;
//             }
//         }
// 	}
// }

// .tabs {
//     &-content {
//         transition: height .25s;

//         >div {
//             position: absolute;
//             width: 100%;
//             top: 0;
//             left: 0;
//             opacity: 0;
//             pointer-events: none;
//             transition: opacity .25s;

//             &.active {
//                 position: relative;
//                 transition: opacity .25s .15s;
//                 opacity: 1;
//                 pointer-events: auto;
//             }
//         }
//     }
// }

// .heading {
//     margin-bottom: 20px;
//     h1,h2 {
//         margin-bottom: 6px;
//     }
//     &-stars {
//         h1,h2 {
//             display: inline-block;
//         }
//         .star {
//             width: 28px;
//             right: -40px;
//             position: absolute;
//             top: 0px;
//         }
//     }
// }

// .c-tag {
//     line-height: 30px;
//     font-size: 12px;
//     padding: 0 15px;
//     border: 1px solid #E9E8E8;
//     display: inline-block;
//     border-radius: 30px;
// }
.btn {
	text-align: center;
//     &.loading {
//         color: transparent;

//         &::before {
//             content: " ";
//             display: block;
//             width: 16px;
//             height: 16px;
//             position: absolute;
//             left: calc(50% - 8px);
//             top: calc(50% - 8px);
//             border-radius: 50%;
//             border: 2px solid #fff;
//             transition: border-color ease-in-out 0.2s;
//             animation: lds-dual-ring 1.2s linear infinite;
//             border-color: #fff transparent #fff transparent;
//         }

//         @keyframes lds-dual-ring {
//             0% {
//                 transform: rotate(0deg);
//             }
//             100% {
//                 transform: rotate(360deg);
//             }
//         }
//     }
}


// // Bread-crumbs
// .breadcrumbs {
//     margin-top: 22px;
//     &__list {
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//     }
//     a {
//         font-size: 12px;
//         text-decoration: underline;
//         color: #727272;
//         position: relative;
//         padding: 5px 14px;
//         display: flex;
//         align-items: center;

//         &::after {
//             content: '';
//             width: 11px;
//             height: 11px;
//             display: block;
//             background: url(star_red.svg) no-repeat 50% 50% / contain;
//             position: absolute;
//             right: 0;
//             top: 50%;
//             transform: translate(50%, -50%);
//         }   
//     }
//     &__item {
//         &:last-child a::after {
//             display: none;
//         }
//     }
// }


// .popup {
//     z-index: 15;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     left: 0;
//     top: 0;
//     overflow-y: auto;

//     pointer-events: none;
//     opacity: 0;
//     visibility: hidden;
//     transition: visibility .3s, opacity .3s;
    
//     &.active {
//         opacity: 1;
//         pointer-events: auto;
//         visibility: visible;

//         .popup-content {
//             opacity: 1;
//             transition: opacity .3s .2s;
//         }
//     }
//     &-close-btn {
//         position: absolute;
//         top: 15px;
//         right: 15px;
//         width: 30px;
//         height: 30px;
//         padding: 7px;
//         cursor: pointer;
//     }
//     &-close-alt {
//         padding: 0;
//         width: 36px;
//         height: 36px;
//     }

//     &-overlay {
//         z-index: 1;
//         background: rgba(0,0,0,.6);
//     }
//     &-content {
//         position: relative;
//         opacity: 0;
//         transition: opacity .3s;
//         min-height: 100%;
//         display: flex;
//         padding: 30px 20px;
//         align-items: center;
//         justify-content: center;

//         &-wrap {
//             width: 100%;
//             position: relative;
//             z-index: 2;
//             max-width: 800px;
//             padding: 20px 30px 40px;
//             background: #fff;
//         }
//     }
// }


// .regular {
//     padding-top: 30px;
//     h2 {
//         margin: 25px 0;
//         font-size: 40px;
//     }
//     h3 {
//         font-size: 20px;
//         margin: 20px 0;
//         color: $accent;
//     }
//     a {
//         text-decoration: underline;
//     }

//     table {
//         margin: 30px 0;
//     }

//     table,fieldset {
//         box-shadow: none;
//         border: none;
//         border-collapse: collapse;
//     }
//     td,th {
//         padding: 14px 20px 14px 0;
//     }
//     th {
//         font-size: 12px;
//         text-transform: uppercase;
//         text-align: left;
//         white-space: nowrap;
//     }
//     td {
//         border: none;
//         border-top: 1px solid #ccc;
//         border-bottom: 1px solid #ccc;
//         color: $dark-grey;
//         &:empty {
//             display: none;
//         }
//     }
// }
