.header {
    &__link {
        font-size: 15px;
        text-decoration: none;
        font-weight: 700;
        border-bottom: 3px solid transparent;
        transition: border-color .2s;

        &:hover, &:focus, &.active {
            text-decoration: none;
            border-color: #C62D5C;
            opacity: 1;
        }
    }

    &__meganav {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        padding-top: 40px;
        padding-bottom: 30px;

        &-right {
            justify-content: flex-end;
        }
        
        &-part {
            gap: 30px;
            // display: flex;

            &.size-0 {
                display: none;
            }
            &.size-1 {
                width: 25%;
                > div {
                    width: 100%;
                }
            }
            &.size-2 {
                width: 50%;
                > div {
                    width: 50%;
                }
            }
            &.size-3 {
                width: 75%;
                > div {
                    width: calc(100% / 3);
                }
            }
            &.size-4 {
                width: 100%;
                > div {
                    width: 25%;
                }
            }
        }

        &-label {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }

        a:hover {
            text-decoration: none;
        }
        
        &-link {
            font-size: 15px;
        }

        &-card {
            h3, span {
                font-size: 15px;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }
}

.footer {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}